// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper{
  width: 100%;
  height: 100%;
}

.header{
  margin: 0 auto;
  background-color: #323232;
  &__content{
    width: 100%;
    height: 100px;
    display: flex;
    padding: 25px 25px;
    color: white;
    margin-left: 5px;
  }
}

a.header__content-info{
  padding-left: 10px;
  font-size: 35px;
  font-family: 'Alegreya Sans SC', sans-serif;
}

    ul.header__content-list{
      list-style: none;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    a.list{
      display: inline-block;
      width: 100px;
      height: 50px;
      padding-top: 10px;
      padding-left: 5px;
      float: right;
      color: white;
      border: 1px solid #eee;
      }
      @media screen and (max-width: 499px){
      a.list{
        font-size: 8px}
        }

.main{
  height: 100%;
  width: 100vw;
  background-color: #f5f5f5;
  margin: 0 auto;
  font-weight: bold;
  color: black;
}

.main__content{
  margin: 0 auto;
  height: 100%;
  max-width: 75%;
  color: black;
  font-size: 20px;
}

.main__content-info{
  text-align: center;
  padding-top: 45px;
}
.main__content-top{
  margin: 50px auto;
  text-align: center;
}

.main__content-buy{
  margin: 50px auto;
  text-align: center;
}

h3.main__content-link{
  text-align: center;
  padding: 15px;
  margin: 25px auto;
}

.main__content-text{
  text-align: center;
  margin: 50px auto;
}


.main__content-photo{
  text-align: center;
  margin: 50px auto;
}

.main__content-view{
  text-align: center;
  margin: 50px auto;
}

img.text{
  margin:25px 265px;
}
.footer{
  height: 100px;
  width: 100%;
  position: absolute;
  background-color: #323232;
  text-align: center;
}



.footer__content{
  height: 30px;
  width: 100px;

}



p.copyright{
  color: white;
}





